.App {
  max-width: 90%;
  padding-top: 30px;
  margin: auto;
}

.ryad {
  margin: 5px 0;
  display: flex;
}

.ryad_name {
  display: inline-block;
  width: 60px;
  min-width: 60px;
}
.item {
  display: inline-block;
  width: 30px;
  height: 25px;
  margin: 0 5px;
  border: 1px solid transparent;
  cursor: pointer;
  min-width: 30px;
  display: flex;
  justify-content: center;
  position: relative;
}
.item > span {
  display: none;
  position: absolute;
  bottom: 105%;
  background-color: white;
}

.item:hover > span {
  display: flex;
  width: auto;
  /* border: 1px solid gray; */
  padding: 2px;
  justify-content: center;
  border-radius: 5px;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.item > span:hover {
  display: none;
}
.item button {
  /* margin: auto; */
}
.span:hover {
  border: 1px solid gray;
  border-radius: 5px;
}
.ploshad {
  overflow: auto;
  padding: 50px;
}
button:hover {
  cursor: pointer;
}
